
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

h2 {
    font-family: 'Bahiana', cursive;
    font-size: 90px;
    color: #2E3192;
}

h3{
    font-family: 'Slabo 27px', serif;
    font-size: 40px;
    color: #000000;
}


p {
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    color: #000000;
}
.lichtblauw {
    background-color: #54CDCF;
    color:#2E3192;
    padding: 10px;
    text-align: center;
    width: 300px;
    margin: 10px;
}
.blauw {
    background-color: #2E3192;
    color: #54CDCF
}
